/* You can add global styles to this file, and also import other style
@import '~/bootstrap/dist/css/bootstrap.min.css'; */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
