<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-10">

    <h1 class="my-4">Page Heading
      <small>Secondary Text</small>
    </h1>

    <!-- Blog Post -->
    <div *ngFor="let post of posts; let i = index">
      <div class="card mb-4">

        <div class="card-body">
          <h2 class="card-title"> {{ post.title }}</h2>
          <p class="card-text">{{ post.title }}</p>
          <a routerLink="posts/{{i+1}}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            <a>Post by: {{post.userName}}</a>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- /.row -->
