<div class="card mb-4" *ngIf="user">
  <div class="card-body">
    <h2 class="card-title"> {{ user.name}}</h2>
    <p class="card-text">Username: {{ user.username }}</p>
    <p class="card-text">E-mail: {{user.email}}</p>
    <p class="card-text">Telefone: {{user.phone}}</p>
    <p class="card-text">Website: {{user.website}}</p>
  </div>
</div>
